/*
Author: Noah Garrison
Date: 31 March 2023
File Name: apply08.css
*/

/* CSS Reset */
body, main, footer, table {
    margin: 0;
    padding: 0;
    border: 0;
}

/* Style rule for body */
body {
	background-color: #f4f9e1;
}

/* Style rule for the container */
#container {
	width: 80%;
	margin: 0 auto;
}

/* Style for the footer element */
footer {
	font-size: .70em;
	text-align: center;
}

/* Table Style: set width = 80%, center table on page, add border around table. */
table {
	width: 80%;
	margin: 0 auto;
	border: 3px solid #71881b;
}

/* Table, Table Header, Table Row, Table Data Style:  */
table, tr, th, td {
	border-collapse: collapse;
	padding: 2%;
}

/* Caption Style: Set font size = 2em, padding 2%, top margin 2% */
caption {
	font-size: 2em;
	padding: 2%;
	margin-top: 2%;
}

/* Table header/data style: add border */
th, td {
	border: 1px solid #71881b;
}

/* Table cell style: align text center */
td {
	text-align: center;
}

/* Set background color of every other (odd) row to #d3e788 */
tr:nth-child(odd) {
	background-color: #d3e788;
}